OPENAI_API_KEY=
RUNWAYML_API_SECRET=
NEXT_PUBLIC_CONVEX_URL=
CONVEX_DEPLOYMENT=
OPENAI_MODEL_FAST=
OPENAI_MODEL_QUALITY=
SKIP_VIDEO_GENERATION=

NEXT_PUBLIC_RUNWAY_AVATAR_VC=
NEXT_PUBLIC_RUNWAY_AVATAR_CUSTOMER=
NEXT_PUBLIC_RUNWAY_AVATAR_TECH=
